.App {
  background-color: #000;
}

.text {
  position: absolute;
  color: green;
  font-size: 70px
}

.centerText {
  display: 'flex';
  flex-direction: 'column';
  align-items: center;
}

.particles {
  position: absolute;
  background-color: #000;
  z-index: 0;
}
